*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 0;

  background-color: #fdf6ee;
  color: #454545;

  font-family: sans-serif;
  font-size: 1.6ch;
}

main {
  display: flex;
  flex-direction: column;

  margin: auto;
  padding: 2ch;
  max-width: 70ch;
  height: 100vh;
}

article {
  flex-grow: 1;
}

footer {
  text-align: center;
  font-size: smaller;
  p {
    margin: 0 0 1ch;
  }
}

a {
  color: #07f;
}
