{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h2>Wings of Fire Generators</h2>

    <ul>
        {% for generatorName, generator in generators %}
            <li><a href="{{ path(generator) }}">{{ generatorName }} Generator</a></li>
        {% endfor %}
    </ul>
{% endblock %}
