<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon"
          href="data:image/gif;base64,R0lGODlhEAAQAPIFAIANDcQTE+4+Pv+8APitrf///wAAAAAAACH5BAUKAAUALAAAAAAQABAAAANHWLrcFcHJB8FscEQKIeteQIxEp1QAAAksyVLWI4xsK3AyScw1F8w64K6gEohIF9XK+NkQA0pQDKpIRUGgKjVV6cS4PudlnAAAOw==">

    <title>{% block title %}Home{% endblock %} - Wings of Fire Generators</title>

    {% block stylesheets %}{{ include('_includes/_site_css.html.twig') }}{% endblock %}
</head>
<body>
<main>
    <a href="{{ path('app_index') }}">Home</a>
    {% block body %}{% endblock %}
</main>
</body>
</html>