{% extends 'base.html.twig' %}
{#- A bit of string manipulation shenanigans to properly capitalize the title  -#}
{%- set pretty_tribe = tribe|u().title.replace('wings', 'Wing') -%}

{% block title %}{{ pretty_tribe }} Name Generator{% endblock %}

{% block body %}
    <h2>{{ pretty_tribe }} Name Generator</h2>

    <form method="post">
        <button type="submit">Generate New Names</button>
    </form>

    <ul>
        {%- for name in names %}
            <li>{{ name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
